body{
	background-color: grey;
}

.admin{
	background-color: white;
	padding: 50px;
	margin-bottom: 10px;
	border-radius: 10px; 
}

th{
	font-weight: bold;
}

.titre{
	padding: 0px 0px 0px 550px;
	color: white;
	font-weight:bold;
}